@extern('header')
@extern('navbar')


	
<main>
	
      <div id="cardClima"></div>
<template id="plantilla">
  <div class="tarjeta">
	                        
               <div class="productos-contenido p10">
                         <div class="letra-negra">
                               <span class="letra-negra font-apodo">
	                                         
                               </span>
                         </div> 
                      
                    <div class="contenedor_info" >
                         <div class="title-name p10">
                               <span class="letra-negra font-ubicacion">
	                                       
                              </span>
                        </div>
	                            
	 
                    </div>
                </div>
    </div> 
         
</template>



</main>
<script src="views/static/js/backend/detalle.js"></script>
 <a class="btn-panel" href="panel">Volver al Panel</a>

@extern('footer')