    <footer class="hide_mobile">
        <div class="info izquierda">
            <h5 class="letra-blanca">Compañia</h5>
            <hr>
            <div class="d-flex-col">
               <span class="m12t">Sobre nosotros </span> 
              <span> Nuestros servicios </span>
               <span> Politica de privacidad</span>
            </div>
        </div>
        <div class="info izquierda">
            <h5 class="letra-blanca">Seguinos en las Redes</h5>
            <hr>
            <div class="d-flex-fila">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-tiktok"></i>
            </div>
        </div>
        <div class="info izquierda">
            <h5 class="letra-blanca">Contactanos</h5>
            <hr>
            <div class="d-flex-col">
                <span ><i class="fa-regular fa-envelope me-2"></i> Contacto.innovplast@gmail.com</span>
                <span  ><i class="fa-brands fa-whatsapp me-2"></i>+54 11 7018-8136</span>
            </div>
        </div>

        <div class="derechos_autores">
            <p><i class="fa-regular fa-copyright"></i>2024 ACME - Todos los derechos reservados</p>
        </div>
        <div class="info izquierda">
            <h5 class="letra-blanca">Atención al cliente</h5>
            <hr>
            <div class="d-flex-col">
                <span class="m20t" >Botón de arrepentimiento</span>
                <span class="m20t">Defensa al consumidor</span>
            </div>
        </div>

        <div class="derechos_autores">
            <p><i class="fa-regular fa-copyright"></i>2024 ACME - Todos los derechos reservados</p>
        </div>
    </footer>
    <div class="show_derechos hiden">
        <div class="derechos_autores">
            <p class="font-12"><i class="fa-regular fa-copyright"></i>2024 ACME - Todos los derechos reservados</p>
        </div>
    </div>
</body>
</html>
<!-- 
		<footer>
			<section class="social__media">
				<article class="about__school">
					<a href="#" class="school_btn">Acerca de la escuela</a>
				</article>
				<article class="social__us">
					<a href="#" class="social__btn"><img src="views/static/img/landing/instagram.svg" class="svg__social"><p class="p__social">Instagram</p></a>
					<a href="#" class="social__btn"><img src="views/static/img/landing/youtube.svg" class="svg__social"><p class="p__social">YouTube</p></a>
					<a href="#" class="social__btn"><img src="views/static/img/landing/x.svg" class="svg__social"><p class="p__social">Twitter - X</p></a>
				</article>
			</section>
			<section class="dev__info">
				<article class="proyect__authors" id="content__author__desc__social">
					<span>@Cristian Valdez </span>
					<span>@Ariel Valdez</span>
					<span>@Maria Eugenia Brum Gutierrez</span>
					<span>@Choque Melina Fernanda</span>
					<span>@{{PROJECT_AUTHOR}}</span>
				</article>
			</section>
			<span class="copy-icons">ICONOS:<a target="_blank" href="https://icons8.com">Icons8</a></span>
		</footer>
	</div>
</body>
</html> -->