<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{PROJECT_NAME}} - {{PROJECT_SECTION}}</title>

	<!-- Primary Meta Tags -->
	<meta name="title" content="{{PROJECT_NAME}}">
	<meta name="description" content="{{PROJECT_DESCRIPTION}}">
	
	<meta name="author" content="{{PROJECT_AUTHOR}}">
	<meta name="reply-to" content="{{PROJECT_AUTHOR_CONTACT}}">
	<link rev="made" href="mailto:{{PROJECT_AUTHOR_CONTACT}}">
	<meta name="keywords" content="{{PROJECT_KEYWORDS}}">
	<meta name="Resource-type" content="Document">
	<meta name="DateCreated" content="Thu, 22 September 2020 00:00:00 GMT+3">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{PROJECT_URL}}">
	<meta property="og:title" content="{{PROJECT_NAME}}">
	<meta property="og:description" content="{{PROJECT_DESCRIPTION}}">
	<meta property="og:image" content="{{PROJECT_URL}}/static/img/landing/logo.jpg">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="{{APP_URL_BASE}}/views/static/css/pages/estilos.css">

<!-- 	<link rel="stylesheet" type="text/css" href="views/static/css/vars.css{{PROJECT_MODE}}">
	<link rel="stylesheet" type="text/css" href="views/static/css/styles.css{{PROJECT_MODE}}">
	<link rel="stylesheet" type="text/css" href="views/static/css/style_landing.css{{PROJECT_MODE}}">
	 -->

</head>
<body>
<!-- <div id="header__nav">
	<img src="views/static/img/landing/logo.jpg" alt="" class="logo">
	<span class="title__header">INNOVPLAST - ACME</span>
	<nav class="nav__btns__control">
		<a href="#proyecto" class="btn__nav" >PROYECTO</a>
		<a href="#problematica" class="btn__nav" >PROBLEMATICA</a>
		<a href="#nosotros" class="btn__nav" >NOSOTROS</a>
		<a href="#contacto" class="btn__nav" >CONTACTO</a>
		<a href="login" class="btn__nav">LOGIN</a>
		<a href="register" class="btn__nav">REGISTRO</a>
	</nav>
</div id="header__nav"> -->