@extern('header')
@extern('navbar')
<!-- {{APP_URL_LOGO_MAIN}} -->
    <main class="main-login">


<form id="recoveryFormulario" class="recovery" method="">
         <div class="filaRecovery" method="POST">
                        <h5 class="txt">Ingrese Email:</h5>
                       
                        <input class="linea_registro" type="text" placeholder="Hello@reallygreatsite.com" name="txt_email" id="txt_email" required>
 <input type="submit" value="Enviar" name="btn_register" class="btn_registro">
                </div>
</form>


    </main>
        <script src="{{APP_URL_BASE}}/views/static/js/backend/recovery.js"></script>
@extern('footer')