*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-none{
    display: none;
}
.loading-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top: 8px solid #00bfff; /* Celeste */
  border-right: 8px solid #ffcc00; /* Amarillo */
  border-bottom: 8px solid #ff7f00; /* Naranja */
  border-left: 8px solid #0000ff; /* Azul */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
