:root{
	--bg-color: #bee9e8;
	--txt-color: #1b4965;
	--bg-color-header: #5fa8d3;

}

*{
	margin: 0rem;
	padding: 0rem;
	box-sizing: border-box;
	font-family: sans-serif;
}

.css-button-rounded--sky {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #4433ff;
  background: #4433ff;
  text-decoration: none;
}
.css-button-rounded--sky:hover {
  background: #fff;
  color: #4433ff
}

.css-button-rounded--yellow {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #ffd819;
  background: #ffd819;
  text-decoration: none;
}
.css-button-rounded--yellow:hover {
  background: #fff;
  color: #ffd819
}

#wrapper{
	background-color: var(--bg-color);
	color: var(--txt-color);
}


#window {
  border: solid 1px var(--txt-color);
  width: 500px;
  display: flex;
  background-color: var(--bg-color-header);
  color: white;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
#content {
  display: flex;
  justify-content: center;
}


#window img {
  width: 100%;
}

#window__image {
  width: 250px;
  display: flex;
}
#window__description {
  width: 250px;
}
#header {
  height: 4rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

#header img {
	height: 100%;
}

#footer__content {
  display: flex;
  height: 10rem;
}
#footer {
  background-color: var(--txt-color);
  color: white;
}
#footer__extra {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer__author {
  display: flex;
  justify-content: center;
  align-items: center;
}
