@import url("graficos.css");
@import url("index.css");
@import url("panel.css");
@import url("landing.css");
@import url("productList.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    min-height: 100vh;
    width: 100%;
    position: relative;
}
div#view__landing {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#header__nav {
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7caff;
    padding-right: 2rem; 
}
img.logo {
    height: 100%;
    width: auto;
    border-radius: 6rem;
}
span.title__header {
    height: 100%;
    width: 35%;
    font-size: 1.4em;
    display: flex;
    align-items: center;
}
nav.nav__btns__control {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    transition: 0.2s all ease-in-out;


}
a.btn__nav {
    text-decoration: none;
    font-size: 0.85em;
    font-weight: 500;
    color: black;
    transition: all 0.2s ease-in-out;
}
a.btn__nav:hover {
    transform: scale(1.2);
}
main {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
span.title__main {
    height: 5%;
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 1.4em;
}
div#content__blocks__info {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 20%;
}
section.block__component {
    height: 30rem;
    width: 80%;
    max-width: 55rem;
    background-color: #7d00dd;
    display: flex;
    border-radius: 3rem;
    align-items: center;
    justify-content: center;
    padding: 0.65rem;
}
img.img__block__component {
    height: 100%;
    width: 45%;
    object-fit: cover;
}
article.text__block__component {
    height: 100%;
    width: 55%;
    background: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
span.caption__block__component {
    height: 10%;
    width: 100%;
    font-size: 1.2em;
    border-bottom: 1px solid #cdcdcd;
    display: flex;
    align-items: center;
}
.desc__block__component {
    height: 90%;
    width: 100%;
    padding: 0.5rem;
}
.img__border__left{
    border-radius: 2.2rem 0rem 0rem 2.2rem;
}
.img__border__right{
    border-radius: 0rem 2.2rem 2.2rem 0rem;
}
.txt__border__left{
    border-radius: 2.2rem 0rem 0rem 2.2rem;
}
.txt__border__right{
    border-radius: 0rem 2.2rem 2.2rem 0rem;
}
.txt__border__both{
    border-radius: 2rem;
}
.w100{
    width: 100%!important;
}
form.contact__inputs.desc__block__component {
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
}
label {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 1.05em;
}
input[type="text"] {
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #bfbfbf;
    padding: 0.2rem;
}
input[type="email"] {
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #bfbfbf;
    padding: 0.2rem;
}
textarea {
    max-width: 100%;
    max-height: 4.8rem;
    border-radius: 0.5rem;
    border: 1px solid #bfbfbf;
    padding: 0.2rem;
}
button.form__btn__email {
    padding: 0.8rem;
    background: #b1e5ff;
    border: none;
    border-radius: 0.5rem;
    width: 20%;
    font-size: 0.95em;
}
footer {
    position: absolute;
    bottom: 0;
    height: 15%;
    max-height: 12rem;
    width: 100%;
    min-height: 10rem;
    background: #6601b3f0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
section.dev__info {
    height: 100%;
    width: 40%;
}
article.proyect__authors {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
section.social__media {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
article.social__us {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a.social__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    background: white;
    border-radius: 0.5rem;
    text-decoration: none;
}
img.svg__social {
    height: 2rem;
    width: auto;
}
p.p__social {
    font-size: 0.8em;
    color: black;
}
@media screen and (max-width: 1040px){
    span.title__header {
        display: none;
    }
}
@media screen and (max-width: 840px){
    nav.nav__btns__control {
        gap: 1rem;
    }
}
@media screen and (max-width: 720px){
    nav.nav__btns__control {
        display: none;
    }
}