<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación de Registro</title>
  
</head>
<body>

    <div class="container">
        <div class="header">
            <h1>{{PROJECT_NAME}}</h1>
        </div>
        <div class="content">
            <p>Se inició el proceso de restablecimiento de contraseña</p>
<a href="{{APP_URL_BASE}}/reset?token_action={{TOKEN_EMAIL}}" class="button">Click aquí para restablecer contraseña</a>
        </div>
        <div class="footer">
            <p>&copy; 2024 {{PROJECT_AUTHOR}}. Todos los derechos reservados.</p>
        </div>
    </div>
</body>
</html>