
    <script src="{{APP_URL_BASE}}/views/static/js/frontend/acciones.js"></script>

    <footer class="hide_mobile">
        <div class="info">
            <h5 class="letra-gris-oscuro font-17">Compañia</h5>
            <div class="flex contactos">
                <p class="font-12 letra-negra ">Sobre nosotros</p>
                <p class="font-12 letra-negra ">Nuestros servicios</p>
                <p class="font-12 letra-negra ">Politica de privacidad</p>
            </div>
        </div>
        <div class="info">
            <h5 class="letra-gris-oscuro font-17">Contactanos</h5>
            <div class="flex contactos">
                <p class="font-12 letra-negra "><span class="fa-regular fa-envelope"></span> Contacto.innovplast@gmail.com</p>
                <p class="font-12 letra-negra "><span class="fa-brands fa-whatsapp"></span>+54 11 7018-8136</p>
            </div>
        </div>
        <div class="info">
            <h5 class="letra-gris-oscuro font-17">Nuestras redes</h5>
            <div class="flex redes">
                <a href="https://www.instagram.com/Innovplast/" class="letra-negra"><i class="fa-brands fa-instagram letra-negra"></i></a>
                <i class="fa-brands fa-facebook letra-negra"></i>
                <i class="fa-brands fa-tiktok letra-negra"></i>
            </div>
        </div>


    </footer>
    <div class="show_derechos hiden">
        <div class="derechos_autores">
            <p class="font-12"><i class="fa-regular fa-copyright"></i>2024 ACME - Todos los derechos reservados</p>
        </div>
    </div>
    <script src="{{APP_URL_BASE}}/views/static/js/frontend/popupPerfil.js"></script>
    <script src="{{APP_URL_BASE}}/views/static/js/frontend/bloquear_nav.js"></script>
    <script src="{{APP_URL_BASE}}/views/static/js/frontend/acciones.js"></script>
    </body>
</html>   