<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{PROJECT_SECTION}} - {{PROJECT_NAME}}</title>

	<!-- Primary Meta Tags -->
	<meta name="title" content="{{PROJECT_NAME}}">
	<meta name="description" content="{{PROJECT_DESCRIPTION}}">
	
	<meta name="author" content="{{PROJECT_AUTHOR}}">
	<meta name="reply-to" content="{{PROJECT_AUTHOR_CONTACT}}">
	<link rev="made" href="mailto:{{PROJECT_AUTHOR_CONTACT}}">
	<meta name="keywords" content="{{PROJECT_KEYWORDS}}">
	<meta name="Resource-type" content="Document">
	<meta name="DateCreated" content="Thu, 22 September 2020 00:00:00 GMT+3">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{PROJECT_URL}}">
	<meta property="og:title" content="{{PROJECT_NAME}}">
	<meta property="og:description" content="{{PROJECT_DESCRIPTION}}">
	<meta property="og:image" content="{{PROJECT_URL}}/static/img/landing/logo.jpg">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{APP_URL_BASE}}/views/static/css/pages/tarjeta_clima.css">
<link rel="stylesheet" type="text/css" href="{{APP_URL_BASE}}/views/static/css/pages/landing.css">
    <link rel="stylesheet" href="{{APP_URL_BASE}}/views/static/css/pages/estilos.css{{PROJECT_MODE}}">
    <link rel="stylesheet" href="{{APP_URL_BASE}}/views/static/css/pages/material-icons.css{{PROJECT_MODE}}">
	<link rel="icon" href="{{APP_URL_LOGO_HEAD}}">
	<link rel="stylesheet" type="text/css" href="{{APP_URL_BASE}}/views/static/css/css_backend/detalle.css">
    <script src="{{APP_URL_BASE}}/views/static/js/backend/config.js{{PROJECT_MODE}}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<link rel="stylesheet" href="{{APP_URL_BASE}}/views/static/css/pages/sweetalert2.min.css">
</head>
<body>
