
    <div id="sidenav">
        <div class="enlaces columna" id="enlacesNav">
            <button><a href="{{APP_URL_BASE}}/panel" class="letra-blanca"><i class="p12R fa-solid fa-shop"></i></i>Estaciones</a> </button>
            <button><a href="{{APP_URL_BASE}}/login" class="letra-blanca"><i class="p12R fa-solid fa-right-to-bracket"></i>Iniciar sesión</a> </button>
            <button><a href="{{APP_URL_BASE}}/register" class="letra-blanca"><i class="p12R fa-solid fa-user-plus"></i>Registrarse</a> </button>
            <div class="absolute_abajo columna">
                <div class="flex-end redes m12t m12b">
                    <!-- <i class="fa-regular fa-envelope p10 border_redes ml-2"></i>
                    <i class="fa-brands fa-whatsapp p10 border_redes ml-2"></i> -->
                    <i class="fa-brands fa-instagram p10 border_redes ml-2"></i>
                    <i class="fa-brands fa-facebook p10 border_redes ml-2"></i>
                    <i class="fa-brands fa-tiktok p10 border_redes ml-2"></i>
                </div>
            </div>
        </div>
    </div>
    
    <header>
        <div class="logo">
           <a href="{{APP_URL_BASE}}/landing"><img src="{{APP_URL_LOGO_MAIN}}" alt=""></a>
        </div>
        <!-- <div class="icono">
            <input class="buscador" type="search" placeholder="Buscar producto">
            <input type="submit" class="material-icons-outlined btn_lupa" value="search">
        </div>
        <button class="menu" onclick="sideNav()">
            <i class="letra-blanca fa-solid fa-bars precio"></i>
        </button> -->

        <div class="enlaces" id="enlacesHead">
            <button class="estaciones"><a href="{{APP_URL_BASE}}/panel" class="letra-blanca"><i class="p12R fa-solid fa-shop"></i>Todas las Estaciones</a> </button>
            <div class="registro_login">
            <button><a href="{{APP_URL_BASE}}/login" class="letra-blanca"><i class="p12R fa-solid fa-right-to-bracket"></i>Iniciar sesión</a> </button>
            <button><a href="{{APP_URL_BASE}}/register" class="letra-blanca"><i class="p12R fa-solid fa-user-plus"></i>Registrarse</a> </button>
            </div>
        </div>

    </header>
    