<header id="admin">

               <div class="logueado">
   
            <button><a href="{{APP_URL_BASE}}/logout" class="letra-blanca"><i class="p5R fa-solid fa-shop"></i>Cerrar sesión</a></button>
       
            <button><a href="{{APP_URL_BASE}}/map" class="letra-blanca">
               <span class="material-symbols-outlined">map</span>map</a></button>

             <button id="volver_admin"><a href="{{APP_URL_BASE}}/administrator" class="letra-blanca">
               <span class="material-symbols-outlined">arrow_back</span>Volver a Panel Admin</a> </button>

           
            <a href="{{APP_URL_BASE}}/administrator"><img class="imagen" src="{{APP_URL_LOGO_MAIN}}"  alt=""></a>
  </div>    

    </header>
    