
  
    
    
    <header>
           <div class="logueado">
            <button><a href="{{APP_URL_BASE}}/login" class="letra-blanca"><i class="p5R fa-solid fa-shop"></i></i>Iniciar Sesion</a></button>
            <button><a href="{{APP_URL_BASE}}/panel" class="letra-blanca"><span class="material-symbols-outlined">logout</span>ver Estaciones</a> </button>
            <!-- <button><a href="{{APP_URL_BASE}}/recovery" class="letra-blanca"><span class="material-symbols-outlined">passkey</span>Recuperar Cuenta</a> </button> -->
           <a href="{{APP_URL_BASE}}/landing"><img class="imagen" src="{{APP_URL_LOGO_MAIN}}"  alt=""></a>
  </div>    
<!--         <div class="logo">
           <a href="{{APP_URL_BASE}}/landing"><img src="{{APP_URL_LOGO_MAIN}}" alt=""></a>
        </div>
      
        <div class="enlaces" id="enlacesHead">
            <button class="estaciones"><a href="{{APP_URL_BASE}}/panel" class="letra-blanca"><i class="p12R fa-solid fa-shop"></i>Todas las Estaciones</a> </button>
            <div class="registro_login">
            <button><a href="{{APP_URL_BASE}}/login" class="letra-blanca"><i class="p12R fa-solid fa-right-to-bracket"></i>Iniciar sesión</a> </button>
            <button><a href="{{APP_URL_BASE}}/register" class="letra-blanca"><i class="p12R fa-solid fa-user-plus"></i>Registrarse</a> </button>
            </div>
        </div>
 -->
    </header>
    