   <header>



<!-- <div class="anonimo">
        
            <button ><a href="{{APP_URL_BASE}}/panel" class="letra-blanca"><i class="p12R fa-solid fa-shop"></i>Todas las Estaciones</a> </button>
            <div class="registro_login">
            <button><a href="{{APP_URL_BASE}}/login" class="letra-blanca"><i class="p12R fa-solid fa-right-to-bracket"></i>Iniciar sesión</a> </button>
            <button><a href="{{APP_URL_BASE}}/register" class="letra-blanca"><i class="p12R fa-solid fa-user-plus"></i>Registrarse</a> </button>
          

</div> -->
<div class="logueado">
            <button><a href="{{APP_URL_BASE}}/panel" class="letra-blanca"><i class="p5R fa-solid fa-shop"></i></i>Estaciones</a></button>
            <button><a href="{{APP_URL_BASE}}/logout" class="letra-blanca"><span class="material-symbols-outlined">logout</span>Cerrar Sesion</a> </button>
      
           <a href="{{APP_URL_BASE}}/landing"><img class="imagen" src="{{APP_URL_LOGO_MAIN}}"  alt=""></a>
  </div>      
    
      
        
     
        <div class="enlaces" id="enlacesHead">
        
            <button><a href="{{APP_URL_BASE}}/productList" class="letra-blanca"><i class="p5R fa-solid fa-shop"></i>Productos</a> </button>

            <button><a href="{{APP_URL_BASE}}/chartList" class="letra-blanca"><i class="p5R fa-solid fa-cart-shopping letra-blanca"></i></a> </button>
        </div>
    </header>

    <div id="popupModalPerfil" class="modal-perfil">
        <div class="modal-content-perfil">
             <div class="columna">
                <a href="{{APP_URL_BASE}}/perfil" class="letra-negra p12L p10T">Mi perfil</a>
                <a href="{{APP_URL_BASE}}/misCompras" class="letra-negra p12L p10T">Compras</a>
                <a href="{{APP_URL_BASE}}/misOpiniones" class="letra-negra p12L p10T">Opiniones</a>
                <a href="{{APP_URL_BASE}}/logout" class="letra-negra p20L p10T">Cerrar Sesión</a>
        	</div>
    	</div>
 	</div>